@using MyDiet.Services.IService;
@using MyDiet.Models.Dtos;

@page "/patients/{id:int}/edit"
@inject IPatientService _patientsService
@inject NavigationManager NavigationManager
@inject IMatToaster Toaster

<h3>Edit Patient: @patientDto.Name @patientDto.Surname</h3>
@if (EditContext == null)
{
    <h3 class="mat-subtitle1">Loading</h3>
    <MatProgressBar Indeterminate="true" />
}
else
{
    <EditForm EditContext="@EditContext" OnValidSubmit="ValidSubmit">
        <DataAnnotationsValidator />
        <div class="mat-layou-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <p>
                        <MatTextField Label="Fiscal Code" @bind-Value="@patientDto.FiscalCode" FullWidth="true" />
                        <ValidationMessage For="@(() => patientDto.FiscalCode)" />
                    </p>
                    <p>
                        <MatTextField Label="Name" @bind-Value="@patientDto.Name" FullWidth="true" />
                        <ValidationMessage For="@(() => patientDto.Name)" />
                    </p>
                    <p>
                        <MatTextField Label="Surname" @bind-Value="@patientDto.Surname" FullWidth="true" />
                        <ValidationMessage For="@(() => patientDto.Surname)" />
                    </p>
                    <p>
                        <MatSelect Label="Gender" @bind-Value="@patientDto.Gender" FullWidth="true" Outlined="true">
                            <MatOptionString Value="male">Male</MatOptionString>
                            <MatOptionString Value="female">Female</MatOptionString>
                        </MatSelect>
                        <ValidationMessage For="@(() => patientDto.Gender)" />
                    </p>
                    <p>
                        <MatTextField Label="Age" @bind-Value="@patientDto.Age" FullWidth="true" />
                        <ValidationMessage For="@(() => patientDto.Age)" />
                    </p>
                    <p>
                        <MatTextField Label="Weight" @bind-Value="@patientDto.Weight" FullWidth="true" />
                        <ValidationMessage For="@(() => patientDto.Weight)" />
                    </p>
                    <p>
                        <MatTextField Label="Email" @bind-Value="@patientDto.Email" FullWidth="true" />
                        <ValidationMessage For="@(() => patientDto.Email)" />
                    </p>
                    <p>
                        <MatTextField Label="Phone" @bind-Value="@patientDto.Phone" FullWidth="true" />
                        <ValidationMessage For="@(() => patientDto.Phone)" />
                    </p>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                    <MatButton Type="submit" Raised="true" Style="background: green;" Icon="save">Save</MatButton>
                    <MatButton Type="button" Raised="true" Style="background: red;" @onclick="Back" Icon="block">Cancel</MatButton>
                </div>
            </div>
        </div>
    </EditForm>
}


@code {
    [Parameter]
    public int id { get; set; }

    private EditContext EditContext;
    private PatientDto patientDto = new PatientDto();
    private ValidationMessageStore messages;

    protected override async Task OnInitializedAsync()
    {
        patientDto = await _patientsService.Get(id);
        EditContext = new EditContext(patientDto);
        EditContext.OnFieldChanged += EditContext_OnFieldChanged;
        messages = new ValidationMessageStore(EditContext);
    }

    async Task ValidSubmit(EditContext editContext)
    {
        PatientDto patientDtoSubmitted = editContext.Model as PatientDto;

        await Task.Run(() => _patientsService.Update(id, patientDtoSubmitted));

        Toaster.Add("Patient updated", MatToastType.Success, "Success");

        Back();
    }

    void Back()
    {
        NavigationManager.NavigateTo("/patients");
    }

    private void EditContext_OnFieldChanged(object sender,
                                               FieldChangedEventArgs e)
    {
        string fieldName = e.FieldIdentifier.FieldName;
        PatientDto dto = e.FieldIdentifier.Model as PatientDto;
        bool isUnique = _patientsService.CheckIfUnique(fieldName, dto);

        if (isUnique)
        {
            messages.Add(e.FieldIdentifier, $"{e.FieldIdentifier.FieldName} must be unique");
        }
        else
        {
            messages.Clear(e.FieldIdentifier);
        }
    }
}
