@using MyDiet.Models.Dtos;
@using MyDiet.Services.IService;

@page "/meals/create"
@inject IMealService _mealService
@inject NavigationManager NavigationManager
@inject IMatToaster Toaster

<h3>Create Meal</h3>
<EditForm EditContext="@EditContext" OnValidSubmit="ValidSubmit">
    <DataAnnotationsValidator/>
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <p>
                    <MatTextField Label="Name" @bind-Value="@mealDto.Name" FullWidth="true" />
                    <ValidationMessage For="@(() => mealDto.Name)" />
                </p>
                <p>
                    <MatTextField Label="Description" @bind-Value="@mealDto.Description" FullWidth="true" />
                    <ValidationMessage For="@(() => mealDto.Description)" />
                </p>
                <MatButton Style="background: green;" Type="submit" Raised="true">Create</MatButton>
                <MatButton Style="background: red;" Type="button" Raised="true" @onclick="Back">Cancel</MatButton>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }

    private EditContext EditContext;
    private MealDto mealDto = new MealDto();
    private ValidationMessageStore messages;

    protected override void OnInitialized()
    {
        EditContext = new EditContext(mealDto);
        EditContext.OnFieldChanged += EditContext_OnFieldChanged;
        messages = new ValidationMessageStore(EditContext);

        base.OnInitialized();
    }

    async Task ValidSubmit(EditContext editContext)
    {
        MealDto meal = editContext.Model as MealDto;

        await _mealService.Create(mealDto);

        Toaster.Add("Meal Created", MatToastType.Success, "Success");
        Back();
    }

    void Back()
    {
        NavigationManager.NavigateTo("/meals");
    }

    private void EditContext_OnFieldChanged(object sender,
                                               FieldChangedEventArgs e)
    {
        //messages.Clear();
        string fieldName = e.FieldIdentifier.FieldName;
        MealDto dto = e.FieldIdentifier.Model as MealDto;
        bool isUnique = _mealService.CheckIfUnique(fieldName, dto);

        if (isUnique)
        {
            messages.Add(e.FieldIdentifier, $"{e.FieldIdentifier.FieldName} must be unique");
        }
        else
        {
            messages.Clear(e.FieldIdentifier);
        }
    }
}
