@using MyDiet.Models.Dtos;
@using MyDiet.Services.IService;

@page "/meals/{id:int}/edit"
@inject IMealService _mealService
@inject NavigationManager NavigationManager
@inject IMatToaster Toaster

<h3>Edit Meal</h3>
@if (EditContext == null)
{
    <h3 class="mat-subtitle1">Loading</h3>
    <MatProgressBar Indeterminate="true" />
}
else
{
    <EditForm EditContext="@EditContext" OnValidSubmit="ValidSubmit">
        <DataAnnotationsValidator />
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <p>
                        <MatTextField Label="Name" @bind-Value="@mealDto.Name" FullWidth="true" />
                        <ValidationMessage For="@(() => mealDto.Name)" />
                    </p>
                    <p>
                        <MatTextField Label="Description" @bind-Value="@mealDto.Description" FullWidth="true" />
                        <ValidationMessage For="@(() => mealDto.Description)" />
                    </p>
                    <MatButton Type="submit" Raised="true" Style="background: green;" Icon="save">Save</MatButton>
                    <MatButton Type="button" Raised="true" Style="background: red;" @onclick="Back" Icon="block">Cancel</MatButton>
                </div>
            </div>
        </div>
    </EditForm>
}


@code {
    [Parameter]
    public int id { get; set; }

    private EditContext EditContext;
    private MealDto mealDto = new MealDto();
    private ValidationMessageStore messages;

    protected override async Task OnInitializedAsync()
    {
        mealDto = await _mealService.Get(id);
        EditContext = new EditContext(mealDto);
        EditContext.OnFieldChanged += EditContext_OnFieldChanged;
        messages = new ValidationMessageStore(EditContext);
    }

    async Task ValidSubmit(EditContext editContext)
    {
        MealDto meal = editContext.Model as MealDto;

        await _mealService.Update(id, meal);

        Toaster.Add("Meal Updated", MatToastType.Success, "Success");
        Back();
    }

    void Back()
    {
        NavigationManager.NavigateTo("/meals");
    }

    private void EditContext_OnFieldChanged(object sender,
                                               FieldChangedEventArgs e)
    {
        string fieldName = e.FieldIdentifier.FieldName;
        MealDto dto = e.FieldIdentifier.Model as MealDto;
        bool isUnique = _mealService.CheckIfUnique(fieldName, dto);

        if (isUnique)
        {
            messages.Add(e.FieldIdentifier, $"{e.FieldIdentifier.FieldName} must be unique");
        }
        else
        {
            messages.Clear(e.FieldIdentifier);
        }
    }
}
