@using MyDiet.Models.Dtos;
@using MyDiet.Services.IService

@page "/meals"
@inject IMealService _mealService
@inject NavigationManager NavigationManager
@inject IMatDialogService MatDialogService
@inject IMatToaster Toaster

<h3>Meals</h3>

<div class="mat-layout-grid">
    <div>
        <MatButton Raised="true" Type="button" Style="background: green;" Icon="add_box" @onclick="Create">Add Meal</MatButton>
    </div>
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            @if (meals.Count > 0)
            {
                <MatTable Items="@meals" Class="mat-elevation-z6" Style="text-align: center; width: 100%; table-layout: fixed; white-space: nowrap">
                    <MatTableHeader>
                        <th style="text-align: center;"> Name</th>
                        <th style="text-align: center;">Description</th>
                        <th style="text-align: center;">Options</th>
                    </MatTableHeader>
                    <MatTableRow>
                        <td>@context.Name</td>
                        <td>@context.Description</td>
                        <td>
                            <MatButton Raised="true" @onclick="@(_ => Edit(@context.Id))" Style="background: orange;" Icon="create">Edit</MatButton>
                            <MatButton Raised="true" Style="background: red;" @onclick="@(_ => Remove(@context))" Icon="delete_sweep">Remove</MatButton>
                        </td>
                    </MatTableRow>
                </MatTable>
            }
            else
            {
                <br />
                <Jumbotron Message="No meals addedd yet" />
            }

        </div>
    </div>
</div>

@code {
    private IList<MealDto> meals { get; set; } = new List<MealDto>();

    protected override async Task OnInitializedAsync()
    {
        meals = await _mealService.GetAll();
    }

    void Create()
    {
        NavigationManager.NavigateTo($"/meals/create");
    }

    void Edit(int id)
    {
        NavigationManager.NavigateTo($"/meals/{id}/edit");
    }

    async Task Remove(MealDto mealDto)
    {
        var result = await MatDialogService.AskAsync("Are you sure you want to delete the selected meal?", new string[] { "Yes", "Cancel" });
        if (result == "Yes")
        {
            await _mealService.Delete(mealDto.Id);
            Toaster.Add("Meal Deleted", MatToastType.Success, "Success");
            meals.Remove(mealDto);
        }
    }
}
